@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/diagramm');
@import "swiper/css/bundle";

body{
font-family: 'Diagramm', sans-serif;
}

.navbar-header{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    filter:transparent(1rem);
    
}

.home-style{
    background-image: url('./assets/img/BG.svg');
    background-position: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.feature-main{
    background-image: url('./assets/img/BG.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        background-color: #7234F5;

}
.feature-section2{
    background-image: url('./assets/img/Ellipse.svg');
        background-position: right ;
        background-repeat: no-repeat;
        width: 100%;
        background-color: #141414;
        

}

/* Slider configuration  */

.swiper-button-next:after,
.swiper-button-prev:after {
    color: red !important;
    border-radius: 100%;
    padding: 10px;
    background-color: yellow;

}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #fff !important;
}
/*  Tailwind configuration */

@layer utilities {
    .text-gradient {
        background-clip: text;
        color: transparent;
    }

    .text-gradient-from-to {
        background-image: linear-gradient(92.65deg, rgba(114, 52, 245, 0) -2.55%, rgba(114, 52, 245, 0.37) 47.76%, rgba(114, 52, 245, 0) 93.96%),
            linear-gradient(0deg, #FFE6C4, #FFE6C4);
        background-clip: text;
        color: transparent;
       
    }
}

.movie-animation {
    animation: floatAndMoveLeft 10s linear infinite;
}

.movie-animation:hover {
    animation-play-state: paused;
    cursor: pointer;
    transform: rotate(20deg);
}

@keyframes floatAndMoveLeft {

    0%,
    100% {
        transform: translateX(100%) translateY(0%);
    }

    50% {
        transform: translateX(-100%) translateY(-10px);
    }

    75% {
        transform: translateX(-100%) translateY(10px);
    }
}

.hero-img {
    transition: width 0.5s;
    /* Add a smooth transition effect */
}
@media (max-width: 875px){
    .footer-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            width: 100%;
        }
       

}
@media (max-width: 768px) {
    .hero-img {
        width: 80%;
        /* Adjust the size for smaller screens */
    }
   .footer-logo {
       display: flex;
       justify-content: center;
       align-items: center;
       max-width: 400px;
       width: 100%;
   }
  .main-attribute{
    margin-top: 20px;
  }
   
    .notfound-img {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .hero-img {
        width: 70%;
        /* Further adjust the size for even smaller screens */
    }
         .notfound-img {
             width: 70%;
         }
                  .footer-logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 300px;
                      width: 100%;
                  }
}